<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/siscacao</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123456789</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/siscacao/model/TblTecnicaCultivo.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblDiagnostico.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblSolicitud.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblSintoma.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblClima.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblImagen.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblUsuario.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblDiagnosticoImagen.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblSintomaPatologia.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblTipoDocumento.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblSolicitante.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblUsuarioRol.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblAsignacionSolicitud.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblEtapa.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblEstado.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblVariedad.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblDepartamento.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblDetalleUsuario.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblContacto.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblPatologia.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblTipoContacto.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblDiagnosticoCaracteristica.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblEstadoProduccion.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblFase.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblTipoSolicitud.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblCultivo.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblRespuestaSolicitud.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblCiudad.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblRol.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblVereda.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblFuncionRol.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblFunciones.hbm.xml"/>
    <mapping resource="com/siscacao/model/TblPushDevice.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
